table.table tr td {
    vertical-align: middle;
}

table.table tr td:last-child {
    width: 1px;
    white-space: nowrap;
}
.form-horizontal .control-label {
    text-align:left;
}
.box-header .btn {
    padding: 0;
    margin-top: -5px;
}

